* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  background: #1e2d3b;
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  height: 7%;
  padding: 0 10px;
  background: grey;
}

.nav-header {
  height: 65%;
  aspect-ratio: 1 / 1;
}

.container-select {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
  color: white;
  /* height: 100%; */
}

label {
  margin-right: 5px;
}

select,
option {
  flex-grow: 1;
  background: #47596c;
  color: white;
}

select {
  height: 70%;
  border-radius: 3px;
  text-align: center;
  border: none;
}

/* main */
.container-Music {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

.container {
  max-width: 60%;
  margin: 0 auto;
  width: 60vw;
  /* border: 1px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

/* crad */
.characters {
  width: calc((100% / 5) - 20px);
  flex-grow: 1;
  padding: 12px;
  background: grey;
  text-align: center;
  color: white;
  box-shadow: 5px 5px 5px #131314;
  transition: 0.5s;
  cursor: pointer;
}

.characters:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  border-radius: 10px;
  background: #47596c;
}

.img-container {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.img-container > img {
  max-width: 100%;
}
.titolo {
  margin: 10px 0;
  text-transform: uppercase;
}

.autore,
.anno {
  color: #80807f;
  font-size: 12px;
}
